*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    padding-bottom: 900px;
    background-color: #FCF5ED;
}

span{
    
    color:gray; 

}

.openbtn{
    position: absolute;
    width: 50px;
    height: 50px;
    
}

#check{
    display: none;
}

#check:checked ~.side-bar{
    left: 0px;
}

#check:checked ~.openbtn{
    transition:ease-out;
}

.side-bar{
    background-color:rgb(15, 15, 15);
    width:220px;
    height: 100vh;
    left: -220px;
    position: fixed;
    transition: 0.7s ;
}


.top-most-section{
    display: flex;
    padding: 20px ;
    margin-bottom:5px;
    align-items:center;
}

.channel-name{
    font-size: 22px;
    font-weight: 600;
    color:white;
    flex: 1;
}

.expand-icon{
    width: 25px;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: all 0.5s linear;
}



.top-section{
    display:flex;
    flex-direction: column;
    height: 190px;
    border-bottom: rgba(84,84,84,0.4) 1px solid;

}

.chat-container{
    display: flex;
    align-items: center;
    height:36px;
    margin: 0px 10px;
}

.chat-container:hover {
    border-radius: 6px;
    background-color: rgb(43, 43, 43) ;
}

.chat-icon{
    width: 16px;
    margin-left: 15px;
}

.inner-text{
    flex:1;
    color: #c3c3c3;
    font-size: 11px;
    margin-left:11px;
    transition: color 0.6s;
}

.inner-text:hover { 
    color:white
}

.notification{
    color: #848484;
    font-size: 9px;
    margin: 10px;
    padding: 2px 5px;
    background-color: #222222;
    border-radius: 5px;
}

.middle-section{
    margin-top: 10px;
    margin-bottom: 30px;
}

.middle-inner-text{
    color:#737373;
    flex:1;
    font-size: 11px;
    margin-left:11px;
}

.box-icon{
    width: 10px;
    margin-left: 15px;
}

.new-list-text{
    color:#737373;
    flex:1;
    font-size: 11px;
    margin-left:11px;
}   


.bottom-section{
    display:flex;
    flex-direction: column;
    height:85px;   
    padding: 5px 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(30, 30, 30) ;
}

.bottom-top-div{
    display: flex;
    height: 40px;
    width: 190px;
    margin-bottom: 5px;
    background-color: rgb(15,15,15);
    padding: 5px;
    border-radius: 5px;
}

.logo-div{
    position: relative;
}

.online{
    position: absolute;
    width:8px;
    height:8px;
    top: 18px;
    right:1px;
    border-radius: 50%;
    background-color: #1fa515;
}

.channel-logo{
    width:25px;
    height: 25px;
    border-radius: 50%;
}

.join-button{
    font-size: 8px;
    background-color: #1fa515;
    border: none;
    height: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.join-button:hover{
    background-color:#218719 ;
}

.bottom-channel-name-div{
    flex-direction: column;
    display: flex;
    flex:1;
}

.chnl-name{
    margin :0px 10px;
    font-size: 9px;
    color: #c3c3c3;
    font-weight:500 ;
    margin-bottom: 3px;
}

.chnl-social{
    font-size: 9px;    
    margin :0px 10px;
    color: #595959;
}

.subscribe-button{
    background-color: transparent;
    border: 1px solid #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    color:#FCF5ED;
    border-radius: 5px;
    padding: 7px 5px;
}

.subscribe-button:hover{
    background-color: #222222;
}

.theme{
    display: flex;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    background-color: rgb(30, 30, 30) ;
}

.theme img{
    width: 13px;
    height: 13px;
    margin-right: 7px;
}

.theme .light-mode p{
    color: #FCF5ED;
    font-size: 13px;
    padding: 3px 0px;
}

.light-mode{
    padding:2px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    flex:1;
    justify-content: center;
    background-color: rgb(15,15,15);

}

.dark-mode{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.theme .dark-mode p{
    color:#595959;
    font-size: 13px;
}
