*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
   
}

span{
    color:gray;
    
}

.container{
    background-color:rgb(15, 15, 15);
    width:220px;
    height: 100vh;
    border-top-right-radius: px ;
}

.top-most-section{
    display: flex;
    padding: 20px ;
    margin-bottom:5px;
    align-items:center;
}

.channel-name{
    font-size: 22px;
    font-weight: 600;
    color:white;
    flex: 1;
}

.expand-icon{
    width: 22px;
}

.top-section{
    display:flex;
    flex-direction: column;
    height: 200px;
    border-bottom: rgba(84,84,84,0.4) 1px solid;

}

.chat-container{
    display: flex;
    align-items: center;
    height:36px;
    margin: 0px 10px;
}

.chat-container:hover {
    border-radius: 6px;
    background-color: rgb(43, 43, 43) ;
}

.chat-icon{
    width: 16px;
    margin-left: 15px;
}

.inner-text{
    flex:1;
    color: #e1e1e1;
    font-size: 12px;
    margin-left:15px;
    transition: color 0.6s;
}

.inner-text:hover { 
    color:white
}